
<header>
	{{if .LogoURL}}
	<style>
	.brand-logo {
		background-image: url({{.LogoURL}})
	}
	</style>
	{{end}}
<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
		<a href="/" class="brand-logo center">{{.HeaderText}}</a>
		<a href="#" data-activates="side-nav" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="hide-on-med-and-down">
			<li class="{{if eq "/" .Path}}active{{end}}"><a href="/">Gallery</a></li>

			{{range .Links}}
			<li><a target="_blank" href="{{.URL}}">{{.Label}}</a></li>
			{{end}}

			<li class="{{if eq "/profile" .Path}}active{{end}}"><a href="/profile">Profile</a></li>
			<li class="{{if eq "/contact" .Path}}active{{end}}"><a href="/contact">Contact</a></li>
		</ul>
		<ul class="side-nav" id="side-nav">
			<li class="{{if eq "/" .Path}}active{{end}}"><a href="/">Gallery</a></li>

			{{range .Links}}
			<li><a target="_blank" href="{{.URL}}">{{.Label}}</a></li>
			{{end}}

			<li class="{{if eq "/profile" .Path}}active{{end}}"><a href="/profile">Profile</a></li>
			<li class="{{if eq "/contact" .Path}}active{{end}}"><a href="/contact">Contact</a></li>
		</ul>

		</div>
	</nav>
</div>
</header>
